h1,
h2,
h3 {
  color: #a593c2;
  margin: 1.5rem 0;
}

h1 {
  font-size: 3rem;
}

.banner {
  max-width: 100%;
}

.sub-title {
  background-color: #fff;
  font-size: 1.5rem;
  padding: 10px;
  margin: 2rem 0;
}

img {
  width: 60%;
}
